@import "tailwindcss";

/* Глобальные стили для темной темы (Требование ЛР-1, Задача 3) */
body {
  margin: 0;
  padding: 0;
  background-color: #020617; /* slate-950 */
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  width: 100%;
  height: 100%;
}